<li class="dropdown nav-item" id="user-settings">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.name %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>