<%= render partial: 'posts/modal' %>
<div class="container">
  <div class="row">

    <div class="col-sm-3 d-none d-sm-block" id="side-menu">

    </div><!-- ./side-menu -->

    <div class="col-sm-9" id="main-content">
      <div class="row">
        <%= render @posts %>
      </div>
    </div><!-- ./main-content -->

  </div><!-- ./row -->
</div><!-- ./container -->