<%= render partial: 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render partial: 'pages/index/side_menu' %>
    <%= render partial: 'pages/index/main_content' %>
  </div><!-- ./row -->
</div><!-- ./container -->