<div class="container">
  <div class="row">
    <div class="col-sm-3 d-none d-sm-block" id="side-menu">
    rails
    </div><!-- ./side-menu -->
    <div class="col-sm-9" id="main-content">
    rails
    </div><!-- ./main-content -->
  </div><!-- ./row -->
</div><!-- ./container -->